# ==========================
# Core
# ==========================

python-dateutil>=2.9.0
pandas>=2.2.0
tqdm>=4.66.0
jsonschema>=4.23.0

# ==========================
# Windows Event Logs
# ==========================

evtx>=0.12.1

# ==========================
# Windows Shortcuts
# ==========================

LnkParse3>=1.5.2



# ==========================
# Browser Databases
# ==========================

sqlite-utils

# ==========================
# XML
# ==========================

lxml>=5.2.0


windowsprefetch

olefile>=0.47

fastapi
uvicorn[standard]
